{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- crispy_forms_tags here  (copied)-->
{% block title %}Signup{% endblock title %}
{% load widget_tweaks %}
<!-- widget_tweaks here  (copied)-->
{% block content %}

 <div class="container-fluid px-0 mx-0 mt-5">
    <section class="h-100 gradient-form mb-0" style="background-color: #eee;">
        <div class="container py-3 h-100 mb-0">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card text-black" style="border-radius: 0px;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <h4 class="mt-1 mb-4 pb-1 title text-center">We are The GWTC Team</h4>
                                    <form method='post' class="form-for-signup">
                                        {% csrf_token %}
                                        {% for fields in form2 %}
                                            <div class="form-outline mb-4">
                                                <label>{{fields.label}}</label>
                                                {% render_field fields class="form-control border" %}
                                            </div>
                                        {% endfor %}
                                        
                                        {% for fields in form1 %}
                                        <div class="form-outline mb-4">
                                            <label>{{fields.label}}</label>
                                            {% render_field fields class="form-control border" %}
                                        </div>
                                        {% endfor %}
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Accept our terms and conditions.
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-warning w-100 mb-4">Register</button>
                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Already have an account?</p>
                                            <a href="#" class="btn btn-sm btn-primary px-3">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2"
                                style="border-radius: 0px;">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">We are more than just a company</h4>
                                    <p class="small mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                        eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis
                                        nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Rendered all fields from default django crispy_forms_tags fields -->
<!-- <div class="container-fluid px-0 mx-0 bg-secondary mb-0 py-5">
    <div class="container col-md-5">
        <form method='POST' class="">
            {% csrf_token %}
            <h1 class='dislplay-4'>Add Personal Information</h1>
            <div class="row mb-4">
                {% for fields in form %}
                <div class="form-outline mb-4">
                    <label>{{fields.label}}</label>
                    {% render_field fields class="form-control border" %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
            </div>
        </form>
    </div>
</div>  -->
<!--  -->

{% endblock content %}


{% block scripts %}
<script>
    // function showPassword() {
    //     var show_password = document.getElementById("myPassword");
    //     if (show_password.type === "password") {
    //         show_password.type = "text";
    //     } else {
    //         show_password.type = "password";
    //     }
    // }
    $(document).on('click', '.toggle-password', function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#myPassword");
        input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password')
    });
</script>
{% endblock scripts %}