{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}{{blog_detail_list.blog_title}}{% endblock title %}
{% block content %}
<!--  -->
<div class="container-fluid px-0 mx-0 mt-5 pt-3 blog-main">
    <div class="container-fluid px-0 mx-0 blog-section pt-5">
        <div class="container col-md-11">
            <h1 class="text text-center title mt-5">Get Latest Tips And Tricks</h1>
        </div>
    </div>
</div>
<!--  -->
<!--  -->
<div class="container-fluid px-0 mx-0 bg-light py-5">
    <div class="container col-md-11">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12 mb-4">
                <div class="py-3 px-4 shadow-sm bg-white">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="#" class="btn btn-warning btn-sm px-3 mb-3">{{blog_detail_list.blog_category_name}}</a>
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="d-flex justify-content-start align-items-center me-4">
                                <i class="fa fa-calendar-o me-2 text-success"></i>
                                <p class="text text-muted mb-0">{{blog_detail_list.blog_publish_date}}</p>
                            </div>
                            <a href="#pills-all-comments-tab" class="text-decoration-none">
                                <div class="d-flex justify-content-start align-items-center text-warning">
                                    <i class="fa fa-comment me-2"></i>
                                    <p class="text mb-0">{{reviews.rating|length}} Comments</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <hr class="tab-hr my-0">
                    <h2 class="text title text-center my-4">
                        {{blog_detail_list.blog_title}}
                    </h2>
                    <img src="{{blog_detail_list.blog_image.url}}" alt=""
                        class="blog-img mb-0">
                        <small class="text text-end text-secondary d-block mb-4 me-2">{{blog_detail_list.view_count}} Views</small>
                    <!-- Blog Description Section -->
                    <div class="description mb-5">
                        <p class="text text-muted">
                            {{blog_detail_list.blog_description}}
                        </p>
                    </div>
                    <!-- Comment Section -->
                    <div class="comment-box">
                        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-write-a-review-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-write-a-review" type="button" role="tab"
                                    aria-controls="pills-write-a-review" aria-selected="true">Write a Comment</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-all-comments-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-all-comments" type="button" role="tab"
                                    aria-controls="pills-all-comments" aria-selected="false">All Comment</button>
                            </li>
                        </ul>
                        <hr class="review-hr mt-0 mb-4">
                        <!--  -->
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-write-a-review" role="tabpanel"
                                aria-labelledby="pills-write-a-review-tab">
                                <h5 class="text title">Leave Your Comment</h5>
                                <div class="hr-section my-0">
                                    <hr class="col-md-1 pt-1 bg-warning mt-1 mb-4 rounded-pill">
                                </div>
                                <form action="{% url 'homepage:submitblogreview' blog_detail_list.blog_id %}" method="POST">
                                    {% csrf_token %}
                                    <div class="input-box border py-3 px-4">
                                        <div class="mb-3">
                                            <label for="" class="title mb-2">Comment <span
                                                    class="text-danger">*</span></label>
                                            <textarea name="comment" id="" cols="30" rows="3" class="form-control border"
                                                placeholder="Type your comment..."></textarea>
                                        </div>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <button type="submit" class="btn btn-warning px-3">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-all-comments" role="tabpanel"
                                aria-labelledby="pills-all-comments-tab">
                                <div class="reviews mx-2">
                                    <h5 class="text title mb-0"> All Reviews </h5>
                                    <hr class="review-hr mb-4">
                                    <!-- All Reviews Here -->
                                    <div class="review-section">
                                        {% for comment in comments %}
                                            <!--  -->
                                            <div class="all-reviews-section bg-light px-3 py-2 mb-3">
                                                <div class="d-flex justify-content-between align-items-center mb-2">
                                                    <div class="d-flex justify-content-start align-items-center">
                                                        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png"
                                                            class="user-img me-2 img-thumbnail" alt="">
                                                        <div class="flex-start"> 
                                                            <h6 class="text title mb-0 pb-0 review-fullname">{{comment.user.customer.fullname}}</h6>
                                                            <small class="text text-secondary mt-0 review-username">{{comment.user.username}}</small>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justidy-content-start align-items-center">
                                                        <i class="fa fa-clock-o me-2 title "></i>
                                                        <p class="text mb-0 title fw-normal">{{comment.created_at|date:"Y-m-d"}}</p>
                                                    </div>
                                                </div>
                                                <div class="ms-5">
                                                    <p class="text mb-0 title review">{{comment.comment}}</p>
                                                </div>
                                            </div>
                                            <!--  -->
                                        {% endfor %}
                                    </div>
                                    <!--  -->
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <!--  -->
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="p-3 shadow-sm bg-white">
                    <!-- Search Section -->
                    <div class="input-group mb-4 border p-2">
                        <input type="text" id="myInput" placeholder="Search food Categories..." aria-describedby="button-addon3"
                            class="form-control">
                        <div class="input-group-append border-0">
                            <button id="button-addon3" type="button" class="btn btn-dark px-2">
                                <i class="fa fa-search me-2"></i>
                                Search
                            </button>
                        </div>
                    </div>
                    <!-- Categories Section -->
                    <div class="blog-category-box mb-4">
                        <h5 class="text title">Recent Posts</h5>
                        <div class="hr-section my-0">
                            <hr class="col-md-2 pt-1 bg-warning mt-1 mb-4 rounded-pill">
                        </div>
                        <ul class="blog-category-list" id="myDIV">
                            <!-- <li class="mb-1">
                                <a href="#" class="text-decoration-none blog-category-link">
                                    <i class="fa fa-long-arrow-right fs-6"></i> Appetizers
                                </a>
                            </li> -->
                            <!-- <hr class="my-2 blog-category-hr"> -->
                            <li class="mb-3 border-bottom border-2">
                                <a href="#" class="text-decoration-none blog-category-link">
                                    <div class="d-flex justofy-content-start align-items-center">
                                        <img src="https://cdn.pixabay.com/photo/2020/06/30/15/03/table-5356682__340.jpg" class="recent-post-img me-2" alt="">
                                        <div class="section">
                                            <h5 class="text blog-category-link title recent-post-title mb-0">Best Ever Healthy Breakfast Everyday</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="text text-secondary mb-0">Oct. 19, 2022</p>
                                                <p class="text text-secondary mb-0">Chicken</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="mb-3 border-bottom border-2">
                                <a href="#" class="text-decoration-none blog-category-link">
                                    <div class="d-flex justofy-content-start align-items-center">
                                        <img src="https://cdn.pixabay.com/photo/2015/11/26/22/28/woman-1064664__340.jpg" class="recent-post-img me-2" alt="">
                                        <div class="section">
                                            <h5 class="text blog-category-link title recent-post-title fw-bold mb-0">Best Ever Healthy Breakfast Everyday</h5>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="text text-secondary mb-0">Oct. 19, 2022</p>
                                                <p class="text text-secondary mb-0">Snacks</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--  -->
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!--  -->
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myDIV li ").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        });
    </script>
{% endblock scripts %}