{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container-fluid px-0 mx-0 my-5 pt-5 hero-section">
    <div class="container col-md-11 mt-lg-5 mt-2 pt-lg-3 pt-2">
        <div class="row mt-lg-4 mt-3 pt-lg-2 pt-2">
            <div class="col-lg-7 col-md-10 col-sm-12 col-12">
                <div class="">
                    <h6 class="text text-start info mb-3">learn how to make</h6>
                    <h1 class="text text-start text-white main-title mb-4">
                        Order Healthy and Fresh Food Any Time
                    </h1>
                    <p class="text text-start res-info me-lg-5 me-0 pe-lg-5 me-0 mb-4">
                        Neplease food makes people think of big family dinners. So you may want to position your
                        restaurant as a place to bring the whole family.
                    </p>
                    <!--  -->
                    <div class="me-lg-5 me-0 pe-lg-5 pe-0 mb-4">
                        <div class="d-flex justify-content-start align-items-center">
                            <div class="border border-2 border-white bg-light w-100 me-2 mb-3">
                                <input type="text" class="form-control bg-transparent py-2 my-1"
                                    placeholder="Search for foods, restaurants...">
                            </div>
                            <div class="button bg-warning border border-2 border-warning mb-3">
                                <button class="btn btn-lg">Search</button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex justify-content-start align-items-center flex-wrap mt-3">
                        <div class="me-3 mb-3">
                            <img src="https://cdn.pixabay.com/photo/2017/06/26/12/49/red-wine-2443699__340.jpg"
                                class="img-thumbnail resto-img-sec" alt="">
                        </div>
                        <div class="me-3 mb-3">
                            <img src="https://cdn.pixabay.com/photo/2015/06/30/18/36/st-826688__340.jpg"
                                class="img-thumbnail resto-img-sec" alt="">
                        </div>
                        <div class="me-3 mb-3">
                            <img src="https://cdn.pixabay.com/photo/2016/06/28/17/32/salmon-1485014__340.jpg"
                                class="img-thumbnail resto-img-sec" alt="">
                        </div>
                        <div class="me-3 mb-3">
                            <img src="https://cdn.pixabay.com/photo/2017/08/06/07/08/coffee-2589754__340.jpg"
                                class="img-thumbnail resto-img-sec" alt="">
                        </div>
                        <div class="me-3 mb-3">
                            <img src="https://cdn.pixabay.com/photo/2018/03/04/20/08/burger-3199088__340.jpg"
                                class="img-thumbnail resto-img-sec" alt="">
                        </div>
                    </div>
                    <!-- <div class="d-lg-block d-none">
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid px-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 py-4">
    <div class="container col-md-11">
        <p class="text text-center text-warning mini-title mb-2">Top Popular Foods</p>
        <h4 class="text text-center title big-title">Our Popular Categories</h4>
        <div class="hr-section my-0">
            <hr class="container col-md-1 py-1 bg-warning mt-1 mb-5 rounded-pill">
        </div>
        <!-- <div class="row owl-carousel owl-theme bg-danger mx-2"> -->
        <div class="row">
            <!-- First Food Category -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="category-box pt-0 pb-2">
                        <img src="https://cdn.pixabay.com/photo/2020/03/21/18/13/saji-4954852__340.jpg"
                            class="category-img mt-0 pt-0" alt="">
                        <div class="food-category-info-section my-4">
                            <h5 class="text text-center title h4">Chicken Roast</h5>
                            <p class="text text-center mb-0 text-warning">15 Restaurants Items</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Second Food Category -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="category-box pt-0 pb-2">
                        <img src="https://cdn.pixabay.com/photo/2015/04/28/21/20/pizza-744405__340.jpg"
                            class="category-img" alt="">
                        <div class="food-category-info-section my-4">
                            <h5 class="text text-center title h4">Chicken Roast</h5>
                            <p class="text text-center mb-0 text-warning">15 Restaurants Items</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Third Food Category -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="category-box pt-0 pb-2">
                        <img src="https://cdn.pixabay.com/photo/2019/05/18/09/28/blueberries-4211525__340.jpg"
                            class="category-img" alt="">
                        <div class="food-category-info-section my-4">
                            <h5 class="text text-center title h4">Chicken Roast</h5>
                            <p class="text text-center mb-0 text-warning">15 Restaurants Items</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Fourth Food Category -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <a href="#" class="text-decoration-none">
                    <div class="category-box pt-0 pb-2">
                        <img src="https://cdn.pixabay.com/photo/2015/12/13/04/23/tea-1090672__340.jpg"
                            class="category-img" alt="">
                        <div class="food-category-info-section my-4">
                            <h5 class="text text-center title h4">Chicken Roast</h5>
                            <p class="text text-center mb-0 text-warning">15 Restaurants Items</p>
                        </div>
                    </div>
                </a>
            </div>
            <!--  -->
        </div>
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid feature-bgimg px-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 py-4">
    <div class="container col-md-11 text-center mt-4">
        <!-- Modal Button -->
        <button type="button" class="btn border-4 border-warning shadow-sm rounded-circle mb-2" data-bs-toggle="modal"
            data-bs-target="#gwtcFoodVideosModal">
            <i class="fa fa-play-circle text-warning"></i>
        </button>
        <!-- Modal Body -->
        <div class="modal fade bg-transparent" id="gwtcFoodVideosModal" tabindex="-1"
            aria-labelledby="gwtcFoodVideosModalLabel" aria-hidden="true">
            <div class="modal-lg modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title" id="gwtcFoodVideosModalLabel">Timi Bhayera Song</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <iframe width="100%" height="425" src="https://www.youtube.com/embed/Qw3wbnzzyD4"
                            title="Akash Khadka X Samir Shrestha - Timi Bhayera Prod. Kila Music(Official Music Video) | ft. Situsit"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        <p class="text text-secondary mb-4">Click here to view our videos.</p>
        <h3 class="text restaurant-title title">Best Restaurant In Kathmandu City <br> With Awesome Foods</h3>
        <!--  -->
        <div class="container collection-box bg-white d-lg-block d-none px-4 py-3 bg-danger">
            <div class="row">
                <!-- First Feature -->
                <div class="col-lg-3 mb-4">
                    <div class="p-2 feature-box">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/restaurant-icon.png' %}" class="feature-img me-3" alt="">
                            <div class="text-count text-start">
                                <h5 class="text title">150</h5>
                                <p class="text text-warning mb-0">Restaurant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second Feature -->
                <div class="col-lg-3 mb-4">
                    <div class="p-2 feature-box">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/foods.png' %}" class="feature-img me-4" alt="">
                            <div class="text-count text-start">
                                <h5 class="text title">1000+</h5>
                                <p class="text text-warning mb-0">Food Items</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third Feature -->
                <div class="col-lg-3 mb-4">
                    <div class="p-2 feature-box">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/customer.png' %}" class="feature-img me-3" alt="">
                            <div class="text-count text-start">
                                <h5 class="text title">300+</h5>
                                <p class="text text-warning mb-0">User Register</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fourth Feature -->
                <div class="col-lg-3 mb-4">
                    <div class="p-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/order.png' %}" class="feature-img me-3" alt="">
                            <div class="text-count text-start">
                                <h5 class="text title">100+</h5>
                                <p class="text text-warning mb-0">Daily Orders</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!--  -->
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid px-0 mx-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 pt-lg-5 pt-md-1 pt-sm-2 pt-2">
    <div class="container col-md-11 mt-5">
        <div class="row">
            <p class="text text-center text-warning mini-title mb-2">Top Popular Restaurants</p>
            <h4 class="text text-center title big-title">Most Featured Restaurant</h4>
            <div class="hr-section my-0">
                <hr class="container col-md-1 py-1 bg-warning mt-1 mb-5 rounded-pill">
            </div>
            <!-- First Restaurant Box -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                <!-- <a href="#" class="text-decoration-none"> -->
                <div class="bg-light restaurant-box pt-0 pb-2">
                    <!--  -->
                    <div class="img-box">
                        <img src="https://cdn.pixabay.com/photo/2016/11/02/16/28/coffee-1792137__340.jpg"
                            class="resto-img" alt="">
                        <div class="restaurant-type bg-warning">
                            <p class="mb-0 px-2 py-3">New</p>
                        </div>
                        <div class="order-box">
                            <i class="fa fa-truck text-warning"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="resto-detail-box mx-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="d-flex justify-content-start align-items-center">
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star-half-o text-warning me-1"></i>
                                <i class="fa fa-star-o text-warning me-1"></i>
                            </div>
                            <a href="#" class="text-decoration-none">
                                <p class="text mb-0">12 Reviews</p>
                            </a>
                        </div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="text title">Himalayan Java Coffee</h4>
                        </a>
                        <p class="text text-warning">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, facilis autem quam
                            voluptate .....
                        </p>
                    </div>
                    <!--  -->
                    <hr class="divider mb-1">
                    <!--  -->
                    <div class="p-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/coffee-shop.png' %}" class="rest-logo me-4" alt="">
                            <div class="text-count text-start">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <i class="fa fa-clock-o me-2"></i>
                                    <p class="text mb-0">10:00 AM - 05:30 PM</p>
                                </div>
                                <!--  -->
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="fa fa-map me-2"></i>
                                    <p class="text mb-0">Thulobharyang, Kathmandu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <!-- Second Restaurant Box -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                <!-- <a href="#" class="text-decoration-none"> -->
                <div class="bg-light restaurant-box pt-0 pb-2">
                    <!--  -->
                    <div class="img-box">
                        <img src="https://cdn.pixabay.com/photo/2016/10/04/05/21/bar-1713610__340.jpg" class="resto-img"
                            alt="">
                        <div class="restaurant-type bg-warning">
                            <p class="mb-0 px-2 py-3">New</p>
                        </div>
                        <div class="order-box">
                            <i class="fa fa-truck text-warning"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="resto-detail-box mx-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="d-flex justify-content-start align-items-center">
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star-half-o text-warning me-1"></i>
                                <i class="fa fa-star-o text-warning me-1"></i>
                            </div>
                            <a href="#" class="text-decoration-none">
                                <p class="text mb-0">60 Reviews</p>
                            </a>
                        </div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="text title">Himalayan Drink Shop</h4>
                        </a>
                        <p class="text text-warning">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, facilis autem quam
                            voluptate .....
                        </p>
                    </div>
                    <!--  -->
                    <hr class="divider mb-1">
                    <!--  -->
                    <div class="p-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/drink.png' %}" class="rest-logo me-4" alt="">
                            <div class="text-count text-start">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <i class="fa fa-clock-o me-2"></i>
                                    <p class="text mb-0">10:00 AM - 05:30 PM</p>
                                </div>
                                <!--  -->
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="fa fa-map me-2"></i>
                                    <p class="text mb-0">Thulobharyang, Kathmandu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <!-- Third Restaurant Box -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                <!-- <a href="#" class="text-decoration-none"> -->
                <div class="bg-light restaurant-box pt-0 pb-2">
                    <!--  -->
                    <div class="img-box">
                        <img src="https://cdn.pixabay.com/photo/2014/11/08/18/14/dance-522546__340.jpg"
                            class="resto-img" alt="">
                        <div class="restaurant-type bg-warning">
                            <p class="mb-0 px-2 py-3">New</p>
                        </div>
                        <div class="order-box">
                            <i class="fa fa-truck text-warning"></i>
                        </div>
                    </div>
                    <!--  -->
                    <div class="resto-detail-box mx-3 mt-2">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div class="d-flex justify-content-start align-items-center">
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star text-warning me-1"></i>
                                <i class="fa fa-star-half-o text-warning me-1"></i>
                                <i class="fa fa-star-o text-warning me-1"></i>
                            </div>
                            <a href="#" class="text-decoration-none">
                                <p class="text mb-0">12 Reviews</p>
                            </a>
                        </div>
                        <a href="#" class="text-decoration-none">
                            <h4 class="text title">Himalayan Restaurant & Bar</h4>
                        </a>
                        <p class="text text-warning">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, facilis autem quam
                            voluptate .....
                        </p>
                    </div>
                    <!--  -->
                    <hr class="divider mb-1">
                    <!--  -->
                    <div class="p-2">
                        <div class="d-flex justify-content-start align-items-center">
                            <img src="{% static 'images/restaurant-logo.png' %}" class="rest-logo me-4" alt="">
                            <div class="text-count text-start">
                                <div class="d-flex justify-content-start align-items-center mb-1">
                                    <i class="fa fa-clock-o me-2"></i>
                                    <p class="text mb-0">10:00 AM - 05:30 PM</p>
                                </div>
                                <!--  -->
                                <div class="d-flex justify-content-start align-items-center">
                                    <i class="fa fa-map me-2"></i>
                                    <p class="text mb-0">Thulobharyang, Kathmandu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </a> -->
            </div>
            <!--  -->
        </div>
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid px-0 mx-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 py-5 bg-light">
    <div class="container col-md-11">
        <div class="row">
            <p class="text text-center text-warning mini-title mb-2">Top Popular Dishes</p>
            <h4 class="text text-center title big-title">Our Super Delicious Dishes</h4>
            <div class="hr-section my-0">
                <hr class="container col-md-1 py-1 bg-warning mt-1 mb-5 rounded-pill">
            </div>
            <!-- First Dishes Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <img src="https://cdn.pixabay.com/photo/2020/04/29/03/30/pizza-5107039__340.jpg" class="dish-img"
                        alt="">
                    <div class="dish-info-section m-3">
                        <h4 class="text title mb-2">Chicken Pizza</h4>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star-half-o text-warning me-1"></i>
                            <i class="fa fa-star-o text-warning me-1"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text title mb-0">Rs.180</h4>
                            <button class="btn btn-warning px-3">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Dishes Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <img src="https://cdn.pixabay.com/photo/2015/07/29/18/29/crayfish-866400__340.jpg" class="dish-img"
                        alt="">
                    <div class="dish-info-section m-3">
                        <h4 class="text title mb-2">Fish Fry</h4>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star-half-o text-warning me-1"></i>
                            <i class="fa fa-star-o text-warning me-1"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text title mb-0">Rs.180</h4>
                            <button class="btn btn-warning px-3">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third Dishes Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <img src="https://cdn.pixabay.com/photo/2022/04/26/11/33/dish-7158169__340.jpg" class="dish-img"
                        alt="">
                    <div class="dish-info-section m-3">
                        <h4 class="text title mb-2">Chicken Biryani</h4>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star-half-o text-warning me-1"></i>
                            <i class="fa fa-star-o text-warning me-1"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text title mb-0">Rs.180</h4>
                            <button class="btn btn-warning px-3">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fourth Dishes Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <img src="https://cdn.pixabay.com/photo/2018/07/18/19/12/pasta-3547078__340.jpg" class="dish-img"
                        alt="">
                    <div class="dish-info-section m-3">
                        <h4 class="text title mb-2">Noodle Fry</h4>
                        <div class="d-flex justify-content-center align-items-center mb-4">
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star text-warning me-1"></i>
                            <i class="fa fa-star-half-o text-warning me-1"></i>
                            <i class="fa fa-star-o text-warning me-1"></i>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="text title mb-0">Rs.180</h4>
                            <button class="btn btn-warning px-3">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid px-0 mx-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 fixed-bg">
    <div class="container col-md-11">
        <h1 class="text text-dark my-5 py-5">Hello Fixed Background Section </h1>
    </div>
</div>

<!-- Next Section -->
<div class="container-fluid px-0 mx-0 mx-0 mb-lg-5 mb-md-1 mb-sm-0 mb-0 py-5 bg-light">
    <div class="container col-md-11">
        <div class="row">
            <p class="text text-center text-warning mini-title mb-2">Team Members</p>
            <h4 class="text text-center title big-title">Meet Our Best Team</h4>
            <div class="hr-section my-0">
                <hr class="container col-md-1 py-1 bg-warning mt-1 mb-5 rounded-pill">
            </div>
            <!-- First Team Data Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <div class="team-img-section">
                        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png"
                            class="team-img" alt="">
                        <div class="social-box d-flex justify-content-center align-items-center">
                            <div class="team-social-media px-3 p-2">
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-github"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="team-info-section m-3">
                        <h4 class="text title mb-2">Gokarna Adhikari</h4>
                        <p class="text text-warning mb-0">Senior Chef</p>
                    </div>
                </div>
            </div>
            <!-- Second Team Data Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <div class="team-img-section">
                        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png"
                            class="team-img" alt="">
                        <div class="social-box d-flex justify-content-center align-items-center">
                            <div class="team-social-media px-3 p-2">
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-github"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="team-info-section m-3">
                        <h4 class="text title mb-2">Gokarna Adhikari</h4>
                        <p class="text text-warning mb-0">Senior Chef</p>
                    </div>
                </div>
            </div>
            <!-- Third Team Data Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <div class="team-img-section">
                        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png"
                            class="team-img" alt="">
                        <div class="social-box d-flex justify-content-center align-items-center">
                            <div class="team-social-media px-3 p-2">
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-github"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="team-info-section m-3">
                        <h4 class="text title mb-2">Gokarna Adhikari</h4>
                        <p class="text text-warning mb-0">Senior Chef</p>
                    </div>
                </div>
            </div>
            <!-- Fourth Team Data Section -->
            <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-4">
                <div class="px-0 pb-2 bg-white shadow-sm text-center">
                    <div class="team-img-section">
                        <img src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916__340.png"
                            class="team-img" alt="">
                        <div class="social-box d-flex justify-content-center align-items-center">
                            <div class="team-social-media px-3 p-2">
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-github"></i>
                                </a>
                                <!--  -->
                                <a type="button" class="btn btn-floating rounded-circle btn-light me-2">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    <div class="team-info-section m-3">
                        <h4 class="text title mb-2">Gokarna Adhikari</h4>
                        <p class="text text-warning mb-0">Senior Chef</p>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>

{% endblock content %}

<!-- Scripts Section Start -->

{% block scripts %}
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 4
            }
        }
    })
</script>
{% endblock scripts %}

<!-- Scripts Section End -->