{% load static %}
<!--  -->
<div class="container-fluid px-0 mx-0 fixed-top nav-bg-color shadow-sm">
    <div class="container my-2">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'homepage:home' %}">
                    <img src="{% static '/images/gwtc.jpg' %}" class="logo" alt="">
                </a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                                aria-current="page" href="{% url 'homepage:home' %}">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'restaurant' %}active{% endif %}"
                                href="{% url 'homepage:restaurant' %}">Restaurants</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'food' %}active{% endif %}"
                                href="{% url 'homepage:food' %}">Foods</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}"
                                href="{% url 'homepage:blog' %}">Blogs</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}"
                                href="{% url 'homepage:contact' %}">Contact</a>
                        </li>
                        <li class="nav-item me-3 registration">
                            <a class="nav-link" href="#">Registration
                                <ul class="subnav shadow-sm">
                                    <li>
                                        <a href="#"
                                            class="nav-link {% if request.resolver_match.url_name == 'signup' %}active{% endif %} subnav-link">
                                            Sign Up
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'login' %}"
                                            class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %} subnav-link">
                                            Sign In
                                        </a>
                                    </li>
                                    <li class="mb-3">
                                        <a href="#" class="nav-link subnav-link">
                                            Vendor Membership
                                        </a>
                                    </li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                    <!--  -->
                    <a href="{% url 'homepage:cart' %}" class="cart-tag text-decoration-none btn position-relative">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="position-absolute mt-2 start-100 translate-middle badge rounded-pill badge-bg">
                            0
                            <!-- <span class="visually-hidden">unread messages</span> -->
                        </span>
                    </a>
                    <!-- <button class="btn btn-warning btn-sm registration">Registration</button> -->
                </div>
                <!--  -->
            </div>
        </nav>
    </div>
</div>
<!--  -->