{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block content %}
<!--  -->
<div class="container-fluid px-0 mx-0 mt-5 pt-3 food-main">
    <div class="container-fluid px-0 mx-0 food-section pt-5">
        <div class="container col-md-11">
            <h1 class="text text-center title mt-5 pt-5">
                If you have any query, then type your messages here...
            </h1>
        </div>
    </div>
</div>
<!--  -->

<!--  -->

<div class="container-fluid px-0 mx-0 py-5 bg-light">
    <div class="container col-md-11">
        <div class="row bg-white shadow-sm p-2">
            <div class="col-md-7">
                <div class="p-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="p-2">
                                <div class="d-flex justify-content-start align-items-center">
                                    <!-- <div class="contact-box">
                                        <img src="https://cdn-icons-png.flaticon.com/128/1034/1034182.png" class="contact-img" alt="">
                                    </div> -->
                                    <div class="d-flex justify-content-center align-items-center border rounded-circle p-3">
                                        <i class="fa fa-mobile px-2 py-1"></i>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <h4 class="text title">Contact Number</h4>
                                        <h6 class="text text-muted"><i class="fa fa-phone"></i>+977-9898989898</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                Hello Suraj Baula
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                Hello Suraj Baula
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="p-2">
                                Hello Suraj Baula
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="p-2">
                    <div class="h6 title bg-light px-4 py-3 mb-4 text-uppercase font-weight-bold">
                        Connect with us
                    </div>
                    <div class="form-section">
                        <form>
                            <div class="mb-3 title">
                                <label for="" class="mb-2">Full Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control border" placeholder="Enter your full name" required>
                            </div>
                            <div class="mb-3 title">
                                <label for="" class="mb-2">Email Address <span class="text-danger">*</span></label>
                                <input type="email" class="form-control border" placeholder="Enter your email address" required>
                            </div>
                            <div class="mb-3 title">
                                <label for="" class="mb-2">Messages <span class="text-danger">*</span></label>
                                <textarea name="" id="" cols="30" rows="3" class="form-control border" placeholder="Type your message..." required></textarea>
                                <!-- <input type="email" class="form-control border" placeholder="Enter your email address" required> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->


{% endblock content %}