{% extends 'homepage/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- crispy_forms_tags here  (copied)-->
{% block title %}Contact Us{% endblock title %}
{% load widget_tweaks %}
<!-- widget_tweaks here  (copied)-->
{% block content %}
<!--  -->
<div class="container-fluid px-0 mx-0 mt-5 pt-3 contact-main">
    <div class="container col-md-11">
        <h1 class="text text-center text-light mt-5 pt-5">
            Have Any Query?
        </h1>
    </div>
</div>
<!--  -->

<!--  -->

<div class="container-fluid px-0 mx-0 py-5 bg-light">
    <div class="container col-md-11">
        <div class="row">
            <div class="col-md-12 bg-white shadow-sm p-2">
                <!-- Company Details (mobile nbr, email, location, fax) Section -->
                <div class=" container col-md-10">
                    <div class="row py-4">
                        <!-- Address Section -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-3 mb-sm-4 mb-4">
                            <div class="text-center bg-light border border-muted py-4">
                                <i class="fa fa-map-marker text-warning mb-3 fs-1"></i>
                                <h5 class="text title">Our Main Office</h5>
                                <p class="text text-muted mb-0">
                                    Karuna road, Tupek, Budhanilkantha 44600
                                </p>
                            </div>
                        </div>
                        <!-- Contact Section -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-3 mb-sm-4 mb-4">
                            <div class="text-center bg-light border border-muted py-4">
                                <i class="fa fa-phone text-warning mb-3 fs-1"></i>
                                <h5 class="text title">Phone Number</h5>
                                <p class="text text-muted mb-0">
                                    9810989898 (ncl), <br class="d-lg-block d-md-block d-sm-block d-none">
                                    9798989898 (ntc)
                                </p>
                            </div>
                        </div>
                        <!-- Fax Section -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-3 mb-sm-4 mb-4">
                            <div class="text-center bg-light border border-muted py-4">
                                <i class="fa fa-fax text-warning mb-3 fs-1"></i>
                                <h5 class="text title">Our Fax</h5>
                                <p class="text text-muted mb-0">
                                    1-123-456-7890, <br class="d-lg-block d-md-block d-sm-block d-none">
                                    9-087-654-3219
                                </p>
                            </div>
                        </div>
                        <!-- Email Id Section -->
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-3 mb-sm-4 mb-4">
                            <div class="text-center bg-light border border-muted py-4">
                                <i class="fa fa-envelope text-warning mb-3 fs-1"></i>
                                <h5 class="text title">Email ID</h5>
                                <p class="text text-muted mb-0">
                                    gwtc@gmail.com, <br class="d-lg-block d-md-block d-sm-block d-none">
                                    gwtcofficial@gmail.com
                                </p>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                </div>
                <hr class="review-hr my-2 mx-3">
                <!-- Map & Input Section -->
                <div class="row mx-3">
                    <div class="h6 title bg-light text-center px-4 py-3 text-uppercase font-weight-bold">
                        Keep in Touch with US
                    </div>
                    <hr class="review-hr mt-0 mb-4">
                    <!-- Map Section -->
                    <div class="col-md-6 pe-3">
                        <div class="px-0 py-3">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="300" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Q926+CV5,%20Karuna%20road,%20Chunikhel%20Marga,%20Tupek,%20Budhanilkantha%2044600&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- Input Section -->
                    <div class="col-md-6 ps-3">
                        <div class="px-0 py-3">
                            <div class="form-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="fullname" class="mb-1">Full Name</label>
                                        <input id="fullname" type="text" name="fullname" class="form-control border" placeholder="Type your fullname">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="mb-1">Email Address</label>
                                        <input id="email" type="email" name="email" class="form-control border" placeholder="Type your email address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="message" class="mb-1">Message</label>
                                        <textarea name="message" id="message" rows="4" class="form-control border" placeholder="Type your message..." required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-warning px-4">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</div>

<!--  -->


{% endblock content %}